<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gof.springcloud.mapper.AvailabilityMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        availability_id, product_id, fund_availability, investor_availability
    </sql>

	<update id="updateAvailability" parameterType="java.lang.Float">
		update Availability set 
			fund_availability = fund_availability - #{qty}, 
			investor_availability = investor_availability - 1
		where 
			product_id = #{id} and 
			fund_availability - #{qty} >= 0 and 
			investor_availability >= 1
	</update>

</mapper>
