<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gof.springcloud.mapper.ConfirmscheduleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        schedule_id, appointment_id, cooling_start, cooling_end, callout_time, callback_time, result
    </sql>
   
    <select id="queryUpcomingConfirmscheduleByMod" parameterType="java.lang.Integer" resultType="com.gof.springcloud.entity.Confirmschedule">
		SELECT 
			<include refid="Base_Column_List"/>
		FROM ConfirmSchedule 
		WHERE ISNULL(result) 
		AND MOD(schedule_id,#{shardTotal}) = #{shardIdx}
		AND cooling_end <![CDATA[ >= ]]> DATE_SUB(NOW(),INTERVAL 30 MINUTE)
    </select>

</mapper>
